/* GENERALSETTİNGS*/
@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.ttf');
}
body{
    background-color: white;
    color: #3f3f3f;
    font: 14px / 28px arial;
    font-family: 'Raleway' ;
}

h1 {
    font-size: 52px;
    letter-spacing: 4px;
    margin-bottom: 20px;
}
h3 {
    font-size: 16px;
    color: #500d16;
    transition: all .5s ease;
}

.sectionHeader {
    background: #500d16;
    border-bottom: 6px solid #000;
    height: 60px;
    color: white;
    display: inline-block;
    line-height: 60px;
    font-size: 25px;
    padding: 5px 40px;
    letter-spacing: 2px;
    margin-bottom: 20px;
    
}
.sectionArea {
    padding: 80px;

}

/* GRİD SETTİNGS*/
.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    
} 

.featuresBody .container {
    justify-content: space-between;
}
.col3 {
    flex-grow: 1;
    width: 33.33%;

}
.col2 {
    flex-grow: 1;
    width: 50%;
    padding: 20px;

}
.engineBody .container{
    justify-content: space-between;
}
/* HOME SETTİNGS*/
header .logo {
    margin-right: auto;
}
header .logo img{
    display: inline-block;
    height:  100px;
    transition: .4s ease;
}
header .logo img:hover {
    transform: scale(1.5);
}
.menu {
    height: 100px;
}
.menu li{
    float: left;
}
.menu li a{
    padding: 40px 30px;
    display:  block;
    text-decoration: none;
    letter-spacing: 2px;
    color: #3f3f3f;
    transition: all .5s ease;
    text-align: center;
    justify-content: center;
    height: 30px;

}
.menu li:hover a{
    background: #500d16;
    color: white;
}
#mainSlider {
    height: 500px;
    background: url('../img/mainHome.jpg') center center no-repeat;
    background-size: cover;
}
.slider {
    width: 100%;
}
#mainCaption {
    height: 500px;
    background: rgba(0, 0, 0, .5);
}
.caption {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: white;
}

.featuresTop {
    text-align: center;
}
.item{
    padding: 10px 20px;
    
}
.zoom {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 100%;
    vertical-align: top;
    
}
.zoom img {
    display: block;
    width: 100%;
    height: auto;
    transition: all .5s ease;

}
.item .itemText {
    text-align: center;
    padding: 5px;
    border: 1px solid #500d16;
}
.item:hover .zoom img {
    transform: scale(1.25);
}
.item:hover h3 {
    color: white;
}
.item:hover .itemText {
    background-color: #500d16;
    color: white;
    transition: all .5s ease;
}
.btnDetails {
    color: #500d16;
    padding: 5px 10px;
    text-decoration: none;
    border: 1px solid #500d16;
    transition: all .5s ease;
    
}

.item:hover .btnDetails {
    color: white;
    border: 1px solid white;
}
.itemText p {
    margin: 20px 0;
}





#parallax {
    background: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,.7)
    ),
    url(../img/parallax.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    text-align: center;
}
.parallaxTop p {
    color:white;
}

.engineTop {
    text-align: center;
}
.engineContainer {
    position: relative;
    width: 100%;
}
.imageOver {
    display: block;
    width: 100%;
    height: auto;
}
.engineOverlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(80, 13, 22, .7);
    overflow: hidden;
    width: 0%;
    height: 100%;
    transition: .5s ease;
}
.engineContainer:hover .engineOverlay{
    width: 100%;
}
.engineText {
    white-space: nowrap;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.engineContainer:hover .engineOverlay2{
    width: 100%;
    left: 0;
}
.engineOverlay2 {
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    background-color: rgba(80, 13, 22, .7);
    overflow: hidden;
    width: 0%;
    height: 100%;
    transition: .5s ease;
}

footer {
    text-align: center;
    background-color: #500d16;
    color: #fff;

}
.footerItem {
    padding: 20px;
}
.footerItem p {
    opacity: 0.8;
    line-height: 15px;
}
footer h3 {
    color: #fff;
    font-size: 30px;
    letter-spacing: 2px;
    margin-bottom: 15px;
}
footer .fa-brands {
    font-size: 30px;
    color: #95a5a6;
    line-height: 75px;
    transition: .3s ease;
}
footer .fa-brands:hover {
    color: #fff;
    font-size: 50px;
}
.footerLinks a {
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    margin: 10px;
    opacity: 0.8;
    transition: .5s ease;
}
.footerLinks a:hover {
    opacity: 1;
    font-size: 20px;
    background-color: white;
    color:#000
}
footer img {
    height: 170px;
    transition: .3s ease;
}
footer img:hover {
    height: 200px;
}
.socialLinks li {
    display: inline-block;
    width: 50px;
    height: 50px;
}

/* CAR SETTİNGS */


#carsSlider {
    height: 250px;
    background: url('../img/slideimage.jpg') center center no-repeat;
    background-size: cover;
}

#carsCaption {
    height: 250px;
    background: rgba(0, 0, 0, .6);
}

#inspect {
    background-color: #f4f4f4;
}
.inspectTop {
    text-align: center;
}
.inspectBody .col2 {
    display: flex;
}
.inspectImage {
    width: 40%;
}
.inspectImage img {
    width: 100%;
    height: autos;
}
.inspectText {
    width: 60%;
    padding-left: 10px;
}
.date {
    color: #333;
    font-size: 12px;
    font-style: italic;
}
h4 {
    color: #500d16;
    font-weight: bold;
    font-size: 14px;
}
.inspectText a {
    float: right;
    text-decoration: none;
    color: #500d16;
    border: #500d16 solid 1px;
    transition: .5s ease;

}
.inspectText a:hover {
    background-color: #500d16;
    color: white;
    transform: scale(1.2);
    
}
.projectXTop {
    text-align: center;
}
#projectX .containerFluid {
    height: 500px;
    background: url('../img/projectX.jpg') center center no-repeat;
    background-size: cover;
}
.captionPX {
    display: flex;
    background: rgba(0, 0, 0, .6);
    width: 100%;
    height: 500px;
}
.projectXInfo {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: 5%;
    padding-right: 5%;
}
.projectXTitle {
    font-size: 24px;
    margin-bottom: 20px;
    letter-spacing: 2px;
}
.projectXBtn {
    background-color: #500d16;
    color: #fff;
    padding: 20px 40px;
    border: none;
    margin-top: 20px;
    transition: all .5s ease;
    cursor: pointer;
}
.projectXBtn:hover {
    background-color: #fff;
    color: #500d16;
}
.projectXText {
    color: #fff;
}
.projectXHighlight {
    display: inline-block;
    background-color: #500d16;
    padding: 30px;
}
.containerFluid .col2 {
    padding: 0;
}
.projectXDetail li {
    color: #fff;
}

/* ABOUT SETTINGS */
#aboutSlider {
    height: 250px;
    background: url('../img/slideimage3.jpg') center center no-repeat;
    background-size: cover;
}

#aboutCaption {
    height: 250px;
    background: rgba(0, 0, 0, .6);
}
#ourHistory {
    background-color: #f4f4f4;
}
.ourHistoryTop {
    text-align:center;
}
.ourHistoryBody .containerFluid {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

}
.ourHistoryBody .col2 {
    display: flex;
}
.ourHistoryDate {
    flex: 1;
    text-align: center;
    background-color: #500d16;
    color: #fff;
}
.ourHistoryDate p {
    font-size: 30px;
    letter-spacing: 2px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.ourHistoryImage {
    flex: 2;
}
.ourHistoryImage img {
    width: 100%;
    height: 100%;
}
.ourHistoryText {
    flex: 3;
    margin-left: 10px;
}
.ourHistoryText p {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.teamTop {
    text-align: center;
}
.teamBody .containerFluid {
    width: 100%;
    display: flex;
}
.teamMember {
    position: relative;
    width: 100%;
}
.teamMember Img {
    display: block;
    width: 100%;
    height: 100%;

}
.teamMemberOverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    background-color: #500d16;
    transition: all .5s ease;
}
.teamMember:hover .teamMemberOverlay {
    opacity: 0;
}
.teamMember:hover .teamMemberInfo  {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.teamTitle {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.teamMemberInfo {
    color: white;
    background-color: rgba(80, 13, 22, .7);
    position: absolute;
    top: 0;
    left:50%;
    transform: translateX(-50%);
    transition: .5s ease;
    padding: 20px;
    text-align: center;
}
.memberSocialLinks li {
    text-align: center;
    display: inline;
    margin-left: 5px;
    margin-right: 5px;
}
.memberSocialLinks .fa-brands {
    color: white;
    
}


/* CONTACT SETTİNGS */
#contactSlider {
    height: 250px;
    background: url('../img/slideImage-4.jpg') center center no-repeat;
    background-size: cover;
}

#contactCaption {
    height: 250px;
    background: rgba(0, 0, 0, .6);
}
#gallery {
    background-color: #f4f4f4;
}
.galleryTop {
    text-align: center;
}
.gallerySlider {
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
}
.gallerySliderItem {
    width: 300%;
    position: relative;
    left:  0;
    animation: slideAnimation 30s infinite;
}
.gallerySliderItem img {
    width: 33.33%;
    float: left;
    height: auto;
}
@keyframes slideAnimation {
    0% {left: 0;}
    25% {left: -100%;}
    50% {left: -200%;}
    75% {left: -100%;}
    100% {left: 0;}
}
.contactTop {
    text-align: center;
}
.wrapper {
    margin: 0 auto;
    width: 100%;
}
.contactForm {
    margin: 0 auto;
    width: 60%;
}
.formItem {
    margin-bottom: 10px ;
    width: 100%;
}
.formShape {
    color: white;
    float: left;
    background-color: #500d16;
    padding: 8px;
    width: 8%;
    text-align: center;
}
.formField {
    color: white;
    background-color: #500d16;
    border: none;
    padding: 15.5px;
    width: 91.9%;
    display: block;
    font-size: 14px;
}
.formBtn {
    display: block;
    border: none;
    background-color: #500d16;
    color: white;
    padding: 12px 25px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    transition: all .5s ease;
}
.formBtn:hover {
    background: #841916;

}

/* MEDİA QUERİES */

@media screen and (max-width: 960px) {
    .caption h1 {
        font-size: 32px;
        letter-spacing: 2px;
    }
    footer .fa-brands {
        font-size: 24px;
    }
    footer h3 {
        font-size: 16px;
    }
    .inspectBody .container {
        flex-direction: column;
    }
    .inspectBody .container .col2 {
        width: 100%;
    }
    .ourHistoryBody .col2 {
        flex-direction: column;
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }

}
@media screen and (max-width: 720px) {

    header .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    header .logo {
        margin: 0 auto;
    }
    
    .caption h1 {
        font-size: 28px;
        letter-spacing: 2px;
    }
    .menu li a {
        height: 21px;
    }
    .featuresBody .container {
        flex-direction: column;

    }
    .featuresBody .container .col3 {
        width: 80%;
        margin: 0 auto;
    }
    .engineBody .container {
        flex-direction: column;

    }
    .engineBody .container .col2 {
        width: 80%;
        padding-left: 0;
        padding-right: 0;
        margin: 0 auto;
    }

    footer .container {
        flex-direction: column;

    }
    footer .container .col3 {
        width: 100%;

    }
    .sectionHeader {
        font-size: 24px;
    }
    .inspectBody .container .col2 {
        padding-right: 0;

    }
    .teamMemberInfo {
        font-size: 14px;
        padding: 10px;
    }
    .teamTitle {
        font-size: 14px;
    }
    .formShape {
        display: none;
    }
}
@media screen and (max-width: 540px) {

    .caption h1 {
        font-size: 20px;
        letter-spacing: 2px;
    }
    .featuresBody .container .col3 {
        width: 100%;
        margin: 0 auto;
    }
    .engineBody .container .col2 {
        width: 100%;
    }
    .sectionHeader {
    
        font-size: 20px;
    }
    .contactForm {
        width: 80%;
    }
}